requests==2.32.4
python-dotenv==1.0.1
fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
playwright==1.49.1
hypercorn==0.17.3
pydantic==2.10.6
pypdf==6.4.0
psycopg2-binary==2.9.10
SQLAlchemy==2.0.38
python-multipart==0.0.20
pinecone==6.0.1
openai==1.77.0
alembic==1.15.2
pillow==11.3.0
google-genai==1.16.1
celery==5.4.0
redis==5.0.1